<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.br.tmi.member.model.vo.MemberVo" alias="Member"/> 
		<typeAlias type="com.br.tmi.board.model.vo.BoardVo" alias="Board"/> 
		<typeAlias type="com.br.tmi.board.model.vo.BoardReplyVo" alias="Reply"/> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/sql/memberMapper.xml"/>
		<mapper resource="mybatis/sql/boardMapper.xml"/>
	</mappers>
</configuration>
